In [1]:
import os

os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,106000
4,Slate,178100
NA,NA,140000''')

In [2]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000

In [5]:
inputs = data.iloc[:, 0:2]
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       NaN               0             1
1       2.0               0             1
2       4.0               1             0
3       NaN               0             1

In [6]:
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0               0             1
1       2.0               0             1
2       4.0               1             0
3       3.0               0             1

In [8]:
targets = data.iloc[:,2]
targets

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [9]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(targets.to_numpy(dtype=float))
X,y

(tensor([[3., 0., 1.],
         [2., 0., 1.],
         [4., 1., 0.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))

In [14]:
Y = y.reshape((4,1))
Y

tensor([[127500.],
        [106000.],
        [178100.],
        [140000.]], dtype=torch.float64)

In [15]:
data = pd.read_csv('wdbc.data')
print(data)

       842302  M  17.99  10.38   122.8    1001   0.1184   0.2776   0.3001  \
0      842517  M  20.57  17.77  132.90  1326.0  0.08474  0.07864  0.08690
1    84300903  M  19.69  21.25  130.00  1203.0  0.10960  0.15990  0.19740
2    84348301  M  11.42  20.38   77.58   386.1  0.14250  0.28390  0.24140
3    84358402  M  20.29  14.34  135.10  1297.0  0.10030  0.13280  0.19800
4      843786  M  12.45  15.70   82.57   477.1  0.12780  0.17000  0.15780
..        ... ..    ...    ...     ...     ...      ...      ...      ...
563    926424  M  21.56  22.39  142.00  1479.0  0.11100  0.11590  0.24390
564    926682  M  20.13  28.25  131.20  1261.0  0.09780  0.10340  0.14400
565    926954  M  16.60  28.08  108.30   858.1  0.08455  0.10230  0.09251
566    927241  M  20.60  29.33  140.10  1265.0  0.11780  0.27700  0.35140
567     92751  B   7.76  24.54   47.92   181.0  0.05263  0.04362  0.00000

      0.1471  ...   25.38  17.33   184.6    2019   0.1622   0.6656  0.7119  \
0    0.07017  ...  24.990  23.41  158.80  1956.0  0.12380  0.18660  0.2416
1    0.12790  ...  23.570  25.53  152.50  1709.0  0.14440  0.42450  0.4504
2    0.10520  ...  14.910  26.50   98.87   567.7  0.20980  0.86630  0.6869
3    0.10430  ...  22.540  16.67  152.20  1575.0  0.13740  0.20500  0.4000
4    0.08089  ...  15.470  23.75  103.40   741.6  0.17910  0.52490  0.5355
..       ...  ...     ...    ...     ...     ...      ...      ...     ...
563  0.13890  ...  25.450  26.40  166.10  2027.0  0.14100  0.21130  0.4107
564  0.09791  ...  23.690  38.25  155.00  1731.0  0.11660  0.19220  0.3215
565  0.05302  ...  18.980  34.12  126.70  1124.0  0.11390  0.30940  0.3403
566  0.15200  ...  25.740  39.42  184.60  1821.0  0.16500  0.86810  0.9387
567  0.00000  ...   9.456  30.37   59.16   268.6  0.08996  0.06444  0.0000

     0.2654  0.4601   0.1189
0    0.1860  0.2750  0.08902
1    0.2430  0.3613  0.08758
2    0.2575  0.6638  0.17300
3    0.1625  0.2364  0.07678
4    0.1741  0.3985  0.12440
..      ...     ...      ...
563  0.2216  0.2060  0.07115
564  0.1628  0.2572  0.06637
565  0.1418  0.2218  0.07820
566  0.2650  0.4087  0.12400
567  0.0000  0.2871  0.07039

[568 rows x 32 columns]

In [18]:
Thresh=max(data.isnull().sum(axis=0))
print(Thresh)
pro_data=data.dropna(axis=1,thresh=data.shape[0]-Thresh+1)
print(pro_data)

0
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[568 rows x 0 columns]

In [20]:
targets = data.iloc[:3,:2]
targets

     842302  M
0    842517  M
1  84300903  M
2  84348301  M